.__allproduct{
  margin-bottom: 64px;
}


.produtos{
    display: flex;
    flex-direction: column;
    width: 1136px;
    margin: 0 auto;
    margin-top: 64px;
    gap: 16px;
  }
  
  .produto__apresentacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
  
  .produtos__lista{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: 0 auto;
    padding: 0 auto;
    gap: 16px;
  }
  
  .produto__titulo{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
   
  .botao__produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-button);
    color: var(--texto-apresentacao);
    border: none;
    width: 164px;
    height: 51px;
    padding: 16px;
  }
  .produto__next button{
    background-color: var(--text-icone);
    border: none;
  }
  
  .textprodutos{
    background-color: var(--text-icone);
    color: var(--azul-button);
    width: 66px;
    height: 19px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .produtos__itens{
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 294px;
    max-width: 176px;
    min-width: 176px;
    min-height: 294px;
    margin-bottom: 8px;
  }
  
  .produto__name{
    color: var(--texto-produtos);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    min-height: 34px;  
  }
  
  .produto__preco{
    color: var(--texto-produtos);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .produto__link{
    color: var(--azul-button);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .__imagem{
    max-width: 176px;
    max-height: 174px;
    min-width: 176px;
    min-height: 174px;
  } 

  
  @media screen and (max-width: 1250px){
    .produtos__itens:last-child{
      display: none;
    }
    .produtos{
      width: 60rem;
    }
  }
  
  
  @media screen and (max-width: 1100px){
    .produtos{
      width: 44rem;
    }
    .produtos__itens:nth-last-child(2),
    .produtos__itens:last-child {
      display: none;
    }
  
    .produtos__lista{
      justify-content: center;
    }
    .produtos__itens{
      width: 164px;
      max-width: auto;
      min-width: auto;
      max-height: auto;
      min-height: auto;
    }
    
    

    .__imagem{
      max-width: 164px;
      max-height: 162px;
      min-width: 164px;
      min-height: 162px;
    }
  
  }
    
  @media screen and (max-width: 760px){
    
    .produtos{
      margin-top: 0;
      width: 328px;
      height: auto;
      padding: 16px;
       
    }
  
    .produto__apresentacao{
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; 
      padding: 16px 16px 16px 16px;
      width: 296px;
      height: 82px;
    }

    .__imagem{
      max-width: 154px;
      max-height: 152px;
      min-width: 140px;
      min-height: 152px;
    }
  
    .produto__next{
      gap: 4px; 
    }
  
    .seta{
      width: 16px;
      height: 16px;
    }
  
    .produto__titulo{
      font-size: 1.375rem;
    }
    
    .textprodutos{
      font-size: 0.875rem;
    }
    
  
   .produtos__itens{
     width: 140px;
     height: 265px;
     
   }
  
   .produtos__lista{
     margin: 0 auto;
     width: 328px;
     height: auto;
     flex-wrap: wrap;
     padding: 8px;
     
   }
  
  }
  
  