.rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    background-color: var(--cor-fundo);
    height: 102px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
    