<footer>
    <section class="conteudo">
        <div class="titulo__footer">
            <img src="../../../assets/img/sports_esports_black_24dp 1.svg" alt="controle-games">
            <p><img src="../../../assets/img/Texto.svg" alt=""></p>
        </div>
        <div class="informacao__footer">
            <div class="titulo__escondido">
                <img src="../../../assets/img/sports_esports_black_24dp 1.svg" alt="controle-games">
                <p><img src="../../../assets/img/Texto.svg" alt=""></p>
            </div>
            <p>Quem somos nós</p>
            <p>Politica de privacidade</p>
            <p>Programa fidelidade</p>
            <p>Nossas lojas</p>
            <p>Quero ser franqueado</p>
            <p>anuncie aqui</p>
        </div>

        <div class="contato__footer">
            <p class="titulo__form">Fale conosco</p>
            <div class="contatoNome">
                <label for="nome__contato" class="label__nome">Nome</label>
                <input type="text" placeholder="André Lisboa" class="nome__contato">
            </div>
            <div class="descricaoName">
                <input type="text" placeholder="Escreva sua mensagem" class="descricao__contato">
            </div>
            <button class="button__footer">Enviar Mensagem</button>
        </div>

    </section>

</footer>