
<main class="__allproduct">
  
    <section class="produtos">
      
      <section class="produtos__lista" *ngIf="haveProduct(); else naoEncontrado" >
        <div class="produtos__itens" *ngFor="let products of result$">
          <img class="__imagem"  [src]="products.url" alt="{{products.name}}">
          <p class="produto__name">{{products.name}}</p>
          <p class="produto__preco">R$ {{ products.price | number:'1.2-2'}}</p>
          <a href="" routerLink="/oneproduct/{{products.id}}" class="produto__link">ver produto</a>
        </div> 
      </section>

      <ng-template #naoEncontrado >
        <section class="produtos__lista">
          <div class="produtos__itens">
            <img class="__imagem"  src="../../../assets/img/nao-encontrado.png" alt="">
            <p class="produto__name">Produto não encontrado</p>
            <p class="produto__preco">pesquise novamente</p>
            <a href="" routerLink="" class="produto__link"></a>
          </div> 
        </section>
      </ng-template>


    </section>
    
  </main>
  
    
    
